body {
  background-color: #e5c0f9;
  font-family: Arial, sans-serif;
}

.app-container {
  max-width: 500px;
  margin: 40px auto;
  padding: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #333;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

input,
textarea {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #9c0a07;
  color: white;
  border: none;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #fda25d;
}

.movie-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.movie-card {
  background: #f9f9f9;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 8px;
}

.remove-btn {
  background-color: #e74c3c;
  margin-top: 5px;
}

.remove-btn:hover {
  background-color: #c0392b;
}

.empty {
  text-align: center;
  color: gray;
}

.rating span {
  font-size: 22px;
}
